client_secret.json
.vscode/
main.exe
main.log

# I configurated other script witch upload the main.log
# to my Telegram account, so I can to check it in
# any device. The following files is for this:
upload_log/
